@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
  padding: 0px;
}

/* Component-Specific Elements */
.container {
  width: 100vw; height: 100vh;
}

.login {
  position: relative;
  width: 100vw ; height: 100vh;
  overflow: scroll;
  background-color: #0a58ca;
  text-align: center;
} .login-img {
  position: absolute;
  top: 5%;
  left: calc(50% - 150px);
  width: 300px; height: 300px;
} .login-form {
  position: absolute;
  top: calc(5% + 300px);
  left: calc(50% - 150px);
  width: 300px;
} .login-input {
  margin-bottom: 10px;
  border: 1px solid #c5c2c2;
  border-radius: 20px;
  padding: 10px;
  height: 25px; width: 250px;
  font-size: 20px;
}

.sidenav {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  height: 100vh;
} .sidenav-header {
  display: flex;
  width: 100px; height: 100vh;
  background-color: #0a58ca;
} .sidenav-item {
  margin: 5px auto;
  padding: 5px;
  display: block;
  height: 80px;
  text-align: center;
  color: #ffffff;
} .sidenav-content {
  padding: 10px;
} .material-icons {
  font-size: 60px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
} .list-item {
  cursor: pointer;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 #c5c2c2;
  padding: 15px;
  display: block;
  width: 150px; height: 125px;
  background-color: #ffffff;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
} .list-item:hover { 
  border: solid;
} .list-item > img {
  width: 75px; height: 75px;
}

.item-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} .item-detail > img {
  border: 8px inset;
  width: 400px; height: 400px;
  background-color: #c5c2c2;
} .item-detail-input {
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 250px; height: 30px;
  font-size: 15px;
} .item-detail-nav {
  cursor: pointer;
  border: outset;
  border-radius: 10px;
  width: 100px;
  color: #0a58ca;
  text-align: center;
} .item-detail-nav:hover {
  opacity: 0.8;
}

.profile {
  display: flex;
  flex-wrap: wrap;
} .profile-img {
  margin: 10px 5px;
  width: 100px; height: 100px;
  font-size: 100px;
  color:#0a58ca;
  text-align: center;
} .profile-detail {
  margin: 10px 5px;
  height: 5em;
  color:#0a58ca;
  font-size: 20px;
} .profile-table {
  height: 50vh;
}

.survey-form {
  margin-bottom: 10px;
  border: groove;
  padding: 10px;
  text-align: center;
} .survey-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
} .survey-radio > label {
  cursor: pointer;
  border: 1px solid #1a1818;
  position: relative;
  width: 10em; height: 50px;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
} .survey-radio > label input[type=radio] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
} .survey-mark {
  border: solid #c5c2c2;
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  left: 42%;
  height: 20px; width: 20px;
  background-color: #ffffff;
} .survey-radio > label:hover input ~ .survey-mark {
  border: solid #1a1818;
} .survey-radio > label input:checked ~ .survey-mark {
  border: solid #0a58ca;
  background-color: #ffffff;
} .survey-mark:after {
  display: none; position: absolute;
  content: "";
} .survey-radio > label input:checked ~ .survey-mark:after {
  display: block;
} .survey-radio > label .survey-mark:after {
  border-radius: 50%;
  top: 25%; 
  left: 25%;
  height: 10px; width: 10px;
  background: #0a58ca;
} .survey-textarea {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  min-height: 3em;
  resize: vertical;
}

.admin-table {
  overflow: scroll;
  height: 350px;
} .element-row {
  border-bottom-width: 0;
} .admin-table-icon {
  width: 50px; height: 50px;
  background-color: #c5c2c2;
} .admin-tab {
  border-style: outset;
  border-bottom: #ffffff;
  padding: 0px 10px;
  background-color: #ffffff;
} .admin-tab-selected {
  border-style: outset;
  border-bottom: #ffffff;
  padding: 10px 10px 0px 10px;
  background-color: #c5c2c2;
} .admin-add {
  border-style: outset;
  border-top: #ffffff;
  padding: 5px;
  background-color: #ffffff;
} .admin-tab:hover, .admin-add:hover {
  opacity: 0.7;
  font-weight: normal;
}

.mat-column-userName {
  flex: 0 0 20%;
} .mat-column-userType {
  flex: 0 0 10%;
} .mat-column-lastName {
  flex: 0 0 20%;
} .mat-column-userRFID {
  flex: 0 0 12%;
} .mat-column-itemFree {
  flex: 0 0 7%;
} .mat-column-itemIcon {
  flex: 0 0 5%;
  padding-right: 10px;
} .mat-column-itemName {
  flex: 0 0 20%;
} .mat-column-itemLock {
  flex: 0 0 7%;
} .mat-column-itemDesc {
  flex: 0 0 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} .mat-column-lockName {
  flex: 0 0 7%;
} .mat-column-lockOpen {
  flex: 0 0 15%;
} .mat-column-lockShut {
  flex: 0 0 15%;
} .mat-column-pickedUp {
  flex: 0 0 6%;
}

.admin-form {
  margin: 30px 50px;
  border: 5px groove;
  padding: 30px 50px;
} .admin-question {
  padding: 10px 0px;
  display: flex;
} .admin-error-msg {
  margin-left: 10px;
  color: red;
} .admin-text {
  border-radius: 20px;
  width: 30em;
} .admin-dt-local {
  border-radius: 20px;
} .admin-radio {
  border: inset;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #e2dfdf;
} .admin-radio-item {
  cursor: pointer;
  border: ridge;
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  max-height: 100px;  
  background-color: #c5c2c2;
} .admin-radio-item > img {
  width: 70px;
  background-color: #c5c2c2;
} .admin-radio-item > label {
  display: block;
  align-self: center;
} .admin-textarea {
  border-radius: 10px;
  padding: 10px;
  width: 42em;
  min-height: 3em;
  resize: vertical;
} .admin-nav {
  cursor: pointer;
  border: outset;
  border-radius: 10px;
  width: 100px;
  color: #1a1818;
  text-align: center;
} .admin-nav:hover {
  opacity: 0.8;
}

/* HTML Elements */
* {
  font-family: "darkmode-off", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} h1, h3, h5 {
  color: #0a58ca;
} p {
  color: #1a1818;
} a {
  cursor: pointer;
  color: #0a58ca;
  text-decoration: none;
}

.error-msg {
  margin: 0px auto 10px auto;
  width: fit-content; height: 20px;
  color: #ff0000;
}

.bubble-button {
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #1a1818;
  border-radius: 20px;
  padding: 5px 10px;
  width: 150px; height: 40px;
  align-items: center;
  background-color: #ffffff;  
  color: #0a58ca;
  font-size: 20px;
} .bubble-button:hover {
  opacity: 0.7;
  font-weight: normal;
} .bubble-button:disabled, .bubble-button:disabled:hover {
  opacity: 0.2;
  cursor: auto;
  font-weight: bold;
}